@font-face {
  font-family: "iconfont"; /* Project id 2538883 */
  src: url('//at.alicdn.com/t/font_2538883_jbyddzx3ga.woff2?t=1620639549189') format('woff2'),
       url('//at.alicdn.com/t/font_2538883_jbyddzx3ga.woff?t=1620639549189') format('woff'),
       url('//at.alicdn.com/t/font_2538883_jbyddzx3ga.ttf?t=1620639549189') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github1:before {
  content: "\e7ab";
}

.icon-weixin1:before {
  content: "\e7e5";
}

.icon-qq:before {
  content: "\e604";
}



